.container.slp-container.text-center
  .row.u-margin-top-lg
    %h1 Schedule
  .row.u-margin-bottom-lg
    .col-md-12
      %h4 Commit will take place over two days on August 10-11, 2021 and will provide virtual programming for attendees across time zones. The schedule will be released in June. 

